@inherits LayoutComponentBase

<main>
    <div class="d-flex" id="wrapper">
        <SideBar></SideBar>
        <div id="page-content-wrapper">
        <TopNav></TopNav>
    @Body
    </div>
    </div>
</main>
